.button {
    padding: 10px 25px;
    background-color: #54a3ff;
    border-radius: 2rem;
    color: white;
    font-size: 20px;
    border: none;
    margin: 10px;
    position: absolute;
    right: 50px;
}

#connected {
    background-color: green;
}

#disconnected {
    cursor: pointer;    
}

#disconnected:hover {
    transform: scale(1.05);
}