name: Tests

on:
  pull_request:
  push:
    branches:
    - "*"
    - "!main"

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 15.x
        cache: 'npm'
    - run: npm install
    - name: Run hardhat tests
      run: npx hardhat test
